{
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "plugin:vue-scoped-css/vue3-recommended"
  ],
  "plugins": [
    "vue"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "webextensions": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "extraFileExtensions": [
      "js",
      "vue",
      "ts",
      "tsx"
    ],
    "sourceType": "module"
  },
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "import/no-unresolved": "off",
    "semi": "off",
    "trailingComma": "off",
    "vue/attribute-hyphenation": "off",
    "vue/multi-word-component-names": "off"
  }
}