.add-bookmark-container {
  width: 100%;
  box-sizing: border-box;
  gap: 2px;
  user-select: none;
  cursor: pointer;

  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .input-title {
      border-bottom: 1px solid gray;

      input {
        width: 100%;
        padding: 4px;
        font-size: 16px;
        border: none;
        box-sizing: border-box;
      }
    }

    .input-prompts {
      border-bottom: 1px solid gray;

      textarea {
        width: 100%;
        min-height: 80px;
        padding: 4px;
        font-size: 16px;
        border: none;
        box-sizing: border-box;

        &:read-only {
          background: silver;
          cursor: not-allowed;
        }
      }
    }

    .action-button-list {
      display: flex;
      gap: 8px;
      margin: 0 auto;

      button {
        width: 140px;
        font-size: 14px;
        font-weight: 700;
        padding: 4px;
        background: white;
        border: 1px solid gray;
        text-align: center;
        margin-bottom: 4px;
        cursor: pointer;
      }

      .cancel {
        background: silver;
      }
    
    }
  }
}