.container {
  width: 100%;
  border-bottom: 1px solid gray;
  user-select: none;

  &.dragging {
    opacity: 0.5;
  }

  &.drag-entering-current {
    border-left: 4px solid red;
  }
  &.drag-entering-top {
    border-top: 2px solid red;
  }
  &.drag-entering-bottom {
    border-bottom: 2px solid red;
  }

  .front-container {
    display: flex;
    align-items: center;
    gap: 2px;

    .toggle-visible-accordion {
      width: 30px;
      height: 30px;
      text-align: center;
      display: flex;
      cursor: pointer;
  
      &.visible {
        transform:rotate(90deg);
      }
      
      img {
        display: block;
        width: 10px;
        height: 10px;
        margin: auto;
      }
    }
  
    .title {
      flex-grow: 1;
      width: 100%;
      padding: 4px;
      font-size: 16px;
      border: none;
      box-sizing: border-box;
    }

    .copy-prompts {
      display: flex;
      text-align: center;
      align-items: center;
      width: 30px;
      height: 30px;
      cursor: pointer;

      img {
        width: 100%;
        width: 15px;
        height: 15px;
        margin: 0 auto;
      }
    }

    .prompts-bookmark-draggable {
      display: flex;
      text-align: center;
      align-items: center;
      width: 30px;
      height: 30px;
      cursor: grab;
  
      img {
        width: 100%;
        width: 15px;
        height: 15px;
        margin: 0 auto;
      }
    }
  }

  .accordion {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 4px;

    .prompts-text-area {
      min-height: 80px;
      flex-grow: 1;
      margin-left: 30px;
      overflow-x: scroll;
      border: 1px solid silver;
    }
  
    .remove-prompts-bookmark{
      width:30px;
      height:30px;
      position: relative;
      margin: 0 2px;
      cursor: pointer;
  
      &::before, &::after{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px; /* 棒の幅（太さ） */
        height: 15px; /* 棒の高さ */
        background: #333;
      }
  
      &::before {
        transform: translate(-50%,-50%) rotate(45deg);
      }
  
      &::after {
        transform: translate(-50%,-50%) rotate(-45deg);
      }
    }
  
  }
}