.import-bookmarks-container {
  width: 100%;
  box-sizing: border-box;
  gap: 2px;
  user-select: none;
  cursor: pointer;

  .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .action-button-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 20px auto 0;

    button {
      width: 280px;
      font-size: 14px;
      font-weight: 700;
      padding: 4px;
      background: white;
      border: 1px solid gray;
      text-align: center;
      margin-bottom: 4px;
      cursor: pointer;
    }

    .cancel {
      background: silver;
    }
  }

  .import-error {
    font-size: 14px;
    font-weight: 700;
    color: red;
    text-align: center;
  }
}