<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    </head>
  <body class="<%= envClass %>">
    <div class="top-container">
      <div id="vue-mount-position" v-cloak>
      </div>
    </div>
    <script type="text/javascript" src="./js/popup.bundle.js"></script>
  </body>
<html>
